<!doctype html>
<html lang="en">

 <head>
  <title>Hwid Auth</title>
  <link rel="stylesheet" href='/static/style.css'>
  <link rel="shortcut icon" href="https://discordemoji.com/assets/emoji/3361_KKK_derp.png">
  <meta property="og:title" content="Hwid Auth"/>
  <meta property="og:description" content="Hwid auth using flask"/>
  <meta property="og:url" content="https://Webapp.nulledto.repl.co"/>
  <meta property="og:image" content="https://discordemoji.com/assets/emoji/3361_KKK_derp.png"/>
 </head>

  <body>
   <h1>HWID AUTH</h1>
   <br>
   <b>What is this?</b>
   <ul>
    <p>You're probably here because you used the wrong link</p>
    <p>Avaliable links: .../backend?hwid=your-hwid-here</p>
   </ul>
  </body>

</html>
